.width-full {
    width: 100%;
}

.height-full {
    height: 100%;
}

.font-big {
    font-size: 24px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.logo {
    margin: 3%;
    width: 95%;
    height: 95%;
}

.jumbotron {
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5%;
}

.reduce-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.hiden {
    visibility: hidden;
}

.load {
    float: right;
}
