.width-full {
    width: 100%;
}

.height-full {
    height: 100%;
}

.font-big {
    font-size: 24px;
}

.logo {
    margin: 3%;
}

.jumbotron {
    margin: 20%;
}

.reduce-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.hiden {
    visibility: hidden;
}

.load {
    float: right;
}
